flows.json
[{"id":"cfa773bb.bac06","type":"tab","label":"covid-19(http)","disabled":false,"info":""},{"id":"b9cc825f.5d77a","type":"http request","z":"cfa773bb.bac06","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":220,"wires":[["e2734d31.73d99","c3f53372.1e048"]]},{"id":"c2c97046.086c5","type":"http in","z":"cfa773bb.bac06","name":"","url":"/co","method":"get","upload":false,"swaggerDoc":"","x":210,"y":220,"wires":[["b9cc825f.5d77a"]]},{"id":"c3f53372.1e048","type":"tableify","z":"cfa773bb.bac06","name":"","before":"covid-19 thailand","after":"end","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":800,"y":220,"wires":[["b92d6570.692068"]]},{"id":"b92d6570.692068","type":"http response","z":"cfa773bb.bac06","name":"","statusCode":"","headers":{},"x":970,"y":160,"wires":[]},{"id":"e2734d31.73d99","type":"debug","z":"cfa773bb.bac06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"41816680.a26558","type":"http request","z":"cfa773bb.bac06","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":440,"wires":[["2d026e1a.4c0a02","7bee4646.6ab728"]]},{"id":"603f9e98.be5db","type":"inject","z":"cfa773bb.bac06","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":440,"wires":[["41816680.a26558"]]},{"id":"2d026e1a.4c0a02","type":"debug","z":"cfa773bb.bac06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":380,"wires":[]},{"id":"741f5672.d0e168","type":"function","z":"cfa773bb.bac06","name":"token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer NFZSyKhxkgAOmoQtANO2zKi20n53uVP7xRKooUidUpj'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":440,"wires":[["d4d239b6.718a88"]]},{"id":"7bee4646.6ab728","type":"function","z":"cfa773bb.bac06","name":"message","func":"var message = \"\\nอับเดทล่าสุด: \"+msg.payload.UpdateDate+\"\\n\";\nmessage += \"ผู้ติดเชื้อสะสม: \"+msg.payload.Confirmed+\" ( \"+msg.payload.NewConfirmed+\" )\\n\";\nmessage += \"หายแล้ว: \"+msg.payload.Recovered+\" ( \"+msg.payload.NewRecovered+\" )\\n\";\nmessage += \"รักษาอยู่: \"+msg.payload.Hospitalized+\" ( \"+msg.payload.NewHospitalized+\" )\\n\";\nmessage += \"เสียชีวิต: \"+msg.payload.Deaths+\" ( \"+msg.payload.NewDeaths+\" )\\n\";\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":440,"wires":[["741f5672.d0e168"]]},{"id":"d4d239b6.718a88","type":"http request","z":"cfa773bb.bac06","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":440,"wires":[[]]},{"id":"3a6b1518.5bf8da","type":"inject","z":"cfa773bb.bac06","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":640,"wires":[["67bbfca0.c1dd24"]]},{"id":"b30701d8.89f6b","type":"ui_text","z":"cfa773bb.bac06","group":"345ed9bc.57a146","order":0,"width":0,"height":0,"name":"","label":"Confirmed","format":"{{msg.payload.Confirmed}}","layout":"row-spread","x":1030,"y":520,"wires":[]},{"id":"84a82a1c.044c68","type":"ui_button","z":"cfa773bb.bac06","name":"","group":"345ed9bc.57a146","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":560,"wires":[["67bbfca0.c1dd24"]]},{"id":"67bbfca0.c1dd24","type":"http request","z":"cfa773bb.bac06","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":640,"wires":[["b30701d8.89f6b","a2ade483.d9d968","4bc3691e.5e63c8","94810afc.4b6678"]]},{"id":"a2ade483.d9d968","type":"ui_text","z":"cfa773bb.bac06","group":"345ed9bc.57a146","order":0,"width":0,"height":0,"name":"","label":"Recovered","format":"{{msg.payload.Recovered}}","layout":"row-spread","x":1030,"y":560,"wires":[]},{"id":"4bc3691e.5e63c8","type":"ui_text","z":"cfa773bb.bac06","group":"345ed9bc.57a146","order":0,"width":0,"height":0,"name":"","label":"Hospitalized","format":"{{msg.payload.Hospitalized}}","layout":"row-spread","x":1030,"y":600,"wires":[]},{"id":"94810afc.4b6678","type":"ui_text","z":"cfa773bb.bac06","group":"345ed9bc.57a146","order":0,"width":0,"height":0,"name":"","label":"Deaths","format":"{{msg.payload.Deaths}}","layout":"row-spread","x":1020,"y":640,"wires":[]},{"id":"345ed9bc.57a146","type":"ui_group","name":"covid-19","tab":"b5e13ce2.b9cc7","order":1,"disp":true,"width":"6","collapse":false},{"id":"b5e13ce2.b9cc7","type":"ui_tab","name":"covid-19","icon":"dashboard","disabled":false,"hidden":false}]