flows.json
[{"id":"8c8f6b63.f0e538","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e0e781c4.5e814","type":"tcp in","z":"8c8f6b63.f0e538","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"\\r\\n","topic":"IOT","base64":false,"x":100,"y":220,"wires":[["f5ea902e.288f9"]]},{"id":"8664e657.889048","type":"debug","z":"8c8f6b63.f0e538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":120,"wires":[]},{"id":"f5ea902e.288f9","type":"function","z":"8c8f6b63.f0e538","name":"","func":"Date.prototype.yyyymmdd = function() {\n  var yyyy = this.getFullYear();\n  var mm = this.getMonth() < 9 ? \"0\" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based\n  var dd = this.getDate() < 10 ? \"0\" + this.getDate() : this.getDate();\n  return \"\".concat(yyyy).concat(mm).concat(dd);\n};\n\nDate.prototype.yyyymmddhhmm = function() {\n  var yyyymmdd = this.yyyymmdd();\n  var hh = this.getHours() < 10 ? \"0\" + this.getHours() : this.getHours();\n  var min = this.getMinutes() < 10 ? \"0\" + this.getMinutes() : this.getMinutes();\n  return \"\".concat(yyyymmdd).concat(hh).concat(min);\n};\n\nDate.prototype.yyyymmddhhmmss = function() {\n  var yyyymmddhhmm = this.yyyymmddhhmm();\n  var ss = this.getSeconds() < 10 ? \"0\" + this.getSeconds() : this.getSeconds();\n  return \"\".concat(yyyymmddhhmm).concat(ss);\n};\n\nvar d = new Date();\nmsg.payload = d.yyyymmddhhmmss()+\"|\"+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":140,"wires":[["8664e657.889048","70806438.fd0cfc","b2f749b5.840488"]]},{"id":"601a8be3.82b7f4","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"|temp=25 à¹c","payloadType":"str","x":100,"y":60,"wires":[["f5ea902e.288f9"]]},{"id":"5484ee82.ff766","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":420,"wires":[["5cdc8f52.ba564"]]},{"id":"5cdc8f52.ba564","type":"debug","z":"8c8f6b63.f0e538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"70806438.fd0cfc","type":"ui_text","z":"8c8f6b63.f0e538","group":"34f1e2e3.85e71e","order":1,"width":"6","height":"10","name":"","label":"ITO : ","format":"{{msg.payload}}","layout":"row-right","x":540,"y":280,"wires":[]},{"id":"cac1f33.abf011","type":"ui_button","z":"8c8f6b63.f0e538","name":"","group":"34f1e2e3.85e71e","order":1,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Clear","payloadType":"str","topic":"Clear","x":270,"y":320,"wires":[["70806438.fd0cfc"]]},{"id":"b2f749b5.840488","type":"file","z":"8c8f6b63.f0e538","name":"","filename":"C:\\Users\\DELL\\Desktop\\IOT\\iot.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":680,"y":180,"wires":[[]]},{"id":"12f773d0.a7a76c","type":"tcp out","z":"8c8f6b63.f0e538","host":"127.0.0.1","port":"1234","beserver":"client","base64":false,"end":false,"name":"","x":570,"y":540,"wires":[]},{"id":"968e5683.5231f8","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":210,"y":520,"wires":[["12f773d0.a7a76c"]]},{"id":"45c6701d.3f282","type":"mqtt in","z":"8c8f6b63.f0e538","name":"","topic":"test","qos":"2","datatype":"auto","broker":"19074b53.a1ee85","x":470,"y":620,"wires":[["ec15dd79.04a9d","59d5cde8.9d4594"]]},{"id":"5f69e865.10b068","type":"mqtt out","z":"8c8f6b63.f0e538","name":"","topic":"test","qos":"","retain":"","broker":"19074b53.a1ee85","x":330,"y":620,"wires":[]},{"id":"f0442f2.e560cd","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":110,"y":620,"wires":[["5f69e865.10b068"]]},{"id":"ec15dd79.04a9d","type":"debug","z":"8c8f6b63.f0e538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":640,"wires":[]},{"id":"59d5cde8.9d4594","type":"function","z":"8c8f6b63.f0e538","name":"","func":"Date.prototype.yyyymmdd = function() {\n  var yyyy = this.getFullYear();\n  var mm = this.getMonth() < 9 ? \"0\" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based\n  var dd = this.getDate() < 10 ? \"0\" + this.getDate() : this.getDate();\n  return \"\".concat(yyyy).concat(mm).concat(dd);\n};\n\nDate.prototype.yyyymmddhhmm = function() {\n  var yyyymmdd = this.yyyymmdd();\n  var hh = this.getHours() < 10 ? \"0\" + this.getHours() : this.getHours();\n  var min = this.getMinutes() < 10 ? \"0\" + this.getMinutes() : this.getMinutes();\n  return \"\".concat(yyyymmdd).concat(hh).concat(min);\n};\n\nDate.prototype.yyyymmddhhmmss = function() {\n  var yyyymmddhhmm = this.yyyymmddhhmm();\n  var ss = this.getSeconds() < 10 ? \"0\" + this.getSeconds() : this.getSeconds();\n  return \"\".concat(yyyymmddhhmm).concat(ss);\n};\n\nvar d = new Date();\nmsg.payload = d.yyyymmddhhmmss()+\"|\"+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[["60f89ea5.b99d1"]]},{"id":"60f89ea5.b99d1","type":"file","z":"8c8f6b63.f0e538","name":"","filename":"C:\\Users\\DELL\\Desktop\\IOT\\iot.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":700,"y":760,"wires":[[]]},{"id":"34f1e2e3.85e71e","type":"ui_group","name":"Default","tab":"83554dae.8aea","order":1,"disp":true,"width":"6","collapse":false},{"id":"19074b53.a1ee85","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83554dae.8aea","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]