esp32_contorl_led_with_MQTT_and_Node-Red_2/led(switch).json
[{"id":"859cf6f.d685508","type":"tab","label":"LED(switch)","disabled":false,"info":""},{"id":"c88d2ea.8f0f5d","type":"ui_switch","z":"859cf6f.d685508","name":"","label":"switch","tooltip":"","group":"7ba8eb64.e98854","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/ESP/LED","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":290,"y":240,"wires":[["7c2f05ee.cdf03c"]]},{"id":"87829d07.1f833","type":"mqtt in","z":"859cf6f.d685508","name":"ied","topic":"/ESP/LED","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":810,"y":200,"wires":[["b0a44096.62a72"]]},{"id":"7c2f05ee.cdf03c","type":"mqtt out","z":"859cf6f.d685508","name":"led","topic":"/ESP/LED","qos":"","retain":"","broker":"e5d67373.42c13","x":570,"y":220,"wires":[]},{"id":"b0a44096.62a72","type":"debug","z":"859cf6f.d685508","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":180,"wires":[]},{"id":"7ba8eb64.e98854","type":"ui_group","name":"LED","tab":"b7394afc.695aa8","order":4,"disp":true,"width":"6","collapse":false},{"id":"e5d67373.42c13","type":"mqtt-broker","name":"localhost","broker":"192.168.43.54","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7394afc.695aa8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]