esp32_contorl_led_with_MQTT_and_Node-Red_3/Tem.json
[{"id":"f76383d6.b73f7","type":"tab","label":"temperture","disabled":false,"info":""},{"id":"3ec91e24.7dcf32","type":"mqtt in","z":"f76383d6.b73f7","name":"temperature","topic":"room/temperature","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":390,"y":260,"wires":[["1ed9f9d3.ab0846","3f680552.d49c5a","1abbb960.f3f507"]]},{"id":"1ed9f9d3.ab0846","type":"ui_gauge","z":"f76383d6.b73f7","name":"","group":"21849001.8068e","order":0,"width":0,"height":0,"gtype":"compass","title":"tem","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":260,"wires":[]},{"id":"12644a65.d716e6","type":"ui_gauge","z":"f76383d6.b73f7","name":"","group":"21849001.8068e","order":2,"width":0,"height":0,"gtype":"donut","title":"hum","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":400,"wires":[]},{"id":"8e184b05.bde588","type":"mqtt in","z":"f76383d6.b73f7","name":"humidity","topic":"room/humidity","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":380,"y":400,"wires":[["12644a65.d716e6","3f680552.d49c5a","48df50c1.48c64"]]},{"id":"abf09a6f.6db988","type":"mqtt in","z":"f76383d6.b73f7","name":"fahrenheit","topic":"room/fahrenheit","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":380,"y":320,"wires":[["3d92d631.b6982a","3f680552.d49c5a"]]},{"id":"3d92d631.b6982a","type":"ui_gauge","z":"f76383d6.b73f7","name":"","group":"21849001.8068e","order":1,"width":0,"height":0,"gtype":"gage","title":"fah","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":320,"wires":[]},{"id":"3f680552.d49c5a","type":"debug","z":"f76383d6.b73f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":140,"wires":[]},{"id":"48df50c1.48c64","type":"change","z":"f76383d6.b73f7","name":"","rules":[{"t":"set","p":"hu","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":460,"wires":[[]]},{"id":"1abbb960.f3f507","type":"change","z":"f76383d6.b73f7","name":"","rules":[{"t":"set","p":"temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":160,"wires":[[]]},{"id":"e866c89b.c4e878","type":"function","z":"f76383d6.b73f7","name":"message1","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer NFZSyKhxkgAOmoQtANO2zKi20n53uVP7xRKooUidUpj'\n};\nmsg.payload = {\n    \"message\":\"temp = \"+global.get(\"temp\")\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":580,"wires":[["6049426f.9ffaec","dc082408.010d18"]]},{"id":"bfaf8327.8f20e","type":"inject","z":"f76383d6.b73f7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":580,"wires":[["e866c89b.c4e878"]]},{"id":"6049426f.9ffaec","type":"debug","z":"f76383d6.b73f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":580,"wires":[]},{"id":"dc082408.010d18","type":"http request","z":"f76383d6.b73f7","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":640,"wires":[[]]},{"id":"dc12c0eb.dce44","type":"http in","z":"f76383d6.b73f7","name":"","url":"/tem","method":"get","upload":false,"swaggerDoc":"","x":380,"y":740,"wires":[["f2aae6b7.0ac738"]]},{"id":"f2aae6b7.0ac738","type":"function","z":"f76383d6.b73f7","name":"","func":"msg.payload={\"temperature \":global.get(\"temp\") , \"humidity \":global.get(\"hu\")};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":740,"wires":[["2ecbe001.b8d69"]]},{"id":"2ecbe001.b8d69","type":"http response","z":"f76383d6.b73f7","name":"","statusCode":"","headers":{},"x":1020,"y":740,"wires":[]},{"id":"e5d67373.42c13","type":"mqtt-broker","name":"localhost","broker":"192.168.43.54","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21849001.8068e","type":"ui_group","name":"senser","tab":"b7394afc.695aa8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b7394afc.695aa8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]