esp32_contorl_led_with_MQTT_and_Node-Red_4/Oled.json
[{"id":"c89e6c4a.4564","type":"tab","label":"Oled","disabled":false,"info":""},{"id":"dc16e1c0.3ad6d","type":"ui_text_input","z":"c89e6c4a.4564","name":"","label":"","tooltip":"","group":"d0586933.4fe098","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"10","topic":"","x":520,"y":340,"wires":[["55980844.38f7a8"]]},{"id":"55980844.38f7a8","type":"mqtt out","z":"c89e6c4a.4564","name":"","topic":"/oled/test","qos":"","retain":"","broker":"e5d67373.42c13","x":850,"y":340,"wires":[]},{"id":"12630938.c8e5b7","type":"mqtt in","z":"c89e6c4a.4564","name":"button","topic":"button","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":510,"y":400,"wires":[["e5b24344.ad115","92a114cb.4da9b8"]]},{"id":"e5b24344.ad115","type":"ui_text","z":"c89e6c4a.4564","group":"1fba333b.e67c8d","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":400,"wires":[]},{"id":"92a114cb.4da9b8","type":"debug","z":"c89e6c4a.4564","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":440,"wires":[]},{"id":"d0586933.4fe098","type":"ui_group","name":"start","tab":"b7394afc.695aa8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e5d67373.42c13","type":"mqtt-broker","name":"localhost","broker":"192.168.43.54","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1fba333b.e67c8d","type":"ui_group","name":"button","tab":"b7394afc.695aa8","order":4,"disp":true,"width":"6","collapse":false},{"id":"b7394afc.695aa8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]