esp32_contorl_led_with_MQTT_and_Node-Red_6_thai_/all-nodeRED.json
[{"id":"4414e09b.51185","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"746afaf7.6931c4","type":"ui_button","z":"4414e09b.51185","name":"","group":"7ba8eb64.e98854","order":3,"width":0,"height":0,"passthru":false,"label":"on","tooltip":"","color":"","bgcolor":"BLUE","icon":"","payload":"on","payloadType":"str","topic":"/ESP/LED","x":260,"y":260,"wires":[["99f058d8.4daaf8"]]},{"id":"e4643d8f.ac4ef","type":"ui_button","z":"4414e09b.51185","name":"","group":"7ba8eb64.e98854","order":4,"width":0,"height":0,"passthru":false,"label":"off","tooltip":"","color":"","bgcolor":"RED","icon":"","payload":"off","payloadType":"str","topic":"/ESP/LED","x":260,"y":360,"wires":[["99f058d8.4daaf8"]]},{"id":"f4be8ec9.6b448","type":"ui_button","z":"4414e09b.51185","name":"","group":"d0586933.4fe098","order":1,"width":0,"height":0,"passthru":false,"label":"get","tooltip":"","color":"","bgcolor":"BLACK","icon":"","payload":"GET","payloadType":"str","topic":"/ESP/LED","x":260,"y":460,"wires":[["99f058d8.4daaf8"]]},{"id":"99f058d8.4daaf8","type":"mqtt out","z":"4414e09b.51185","name":"LED","topic":"/ESP/LED","qos":"","retain":"","broker":"e5d67373.42c13","x":550,"y":360,"wires":[]},{"id":"dbc12319.4fa7b","type":"mqtt in","z":"4414e09b.51185","name":"LED","topic":"/ESP/LED","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":670,"y":280,"wires":[["4ee4c24.1214b3c","2c8a45a8.840f9a"]]},{"id":"4ee4c24.1214b3c","type":"debug","z":"4414e09b.51185","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":300,"wires":[]},{"id":"2c8a45a8.840f9a","type":"ui_text","z":"4414e09b.51185","group":"7ba8eb64.e98854","order":5,"width":0,"height":0,"name":"","label":"start","format":"{{msg.payload}}","layout":"col-center","x":1010,"y":440,"wires":[]},{"id":"4b65decf.e5af3","type":"ui_switch","z":"4414e09b.51185","name":"","label":"switch","tooltip":"","group":"7ba8eb64.e98854","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/ESP/LED","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":230,"y":660,"wires":[["eeeb1ce4.a825d"]]},{"id":"b7329c40.7ef4d","type":"ui_gauge","z":"4414e09b.51185","name":"","group":"d0586933.4fe098","order":3,"width":0,"height":0,"gtype":"wave","title":"LED","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":740,"wires":[]},{"id":"2b924682.ae593a","type":"mqtt in","z":"4414e09b.51185","name":"ied","topic":"/ESP/LED","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":750,"y":620,"wires":[["12498bcb.b9d774"]]},{"id":"eeeb1ce4.a825d","type":"mqtt out","z":"4414e09b.51185","name":"led","topic":"/ESP/LED","qos":"","retain":"","broker":"e5d67373.42c13","x":510,"y":640,"wires":[]},{"id":"2d4f5f4b.b4e5a","type":"ui_slider","z":"4414e09b.51185","name":"","label":"slider","tooltip":"","group":"d0586933.4fe098","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"/ESP/LED","min":0,"max":"255","step":1,"x":200,"y":740,"wires":[["9d52c0f7.74986"]]},{"id":"12498bcb.b9d774","type":"debug","z":"4414e09b.51185","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":600,"wires":[]},{"id":"9d52c0f7.74986","type":"mqtt out","z":"4414e09b.51185","name":"led","topic":"/ESP/LED1","qos":"","retain":"","broker":"e5d67373.42c13","x":510,"y":760,"wires":[]},{"id":"10cd7c96.1fd413","type":"mqtt in","z":"4414e09b.51185","name":"ied","topic":"/ESP/LED1","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":750,"y":760,"wires":[["b7329c40.7ef4d"]]},{"id":"eca39055.b69ae","type":"mqtt in","z":"4414e09b.51185","name":"temperature","topic":"room/temperature","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":190,"y":1020,"wires":[["32e16912.9cfbc6","479c27d.75354d8"]]},{"id":"32e16912.9cfbc6","type":"ui_gauge","z":"4414e09b.51185","name":"","group":"21849001.8068e","order":0,"width":0,"height":0,"gtype":"compass","title":"tem","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":1020,"wires":[]},{"id":"ff53b8ae.a8d668","type":"ui_gauge","z":"4414e09b.51185","name":"","group":"21849001.8068e","order":2,"width":0,"height":0,"gtype":"donut","title":"hum","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":1160,"wires":[]},{"id":"82821afc.794398","type":"mqtt in","z":"4414e09b.51185","name":"humidity","topic":"room/humidity","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":180,"y":1160,"wires":[["ff53b8ae.a8d668","479c27d.75354d8"]]},{"id":"fc5e98cf.39a608","type":"mqtt in","z":"4414e09b.51185","name":"fahrenheit","topic":"room/fahrenheit","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":180,"y":1080,"wires":[["173c35a6.7bd5ca","479c27d.75354d8"]]},{"id":"173c35a6.7bd5ca","type":"ui_gauge","z":"4414e09b.51185","name":"","group":"21849001.8068e","order":1,"width":0,"height":0,"gtype":"gage","title":"fah","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":1080,"wires":[]},{"id":"479c27d.75354d8","type":"debug","z":"4414e09b.51185","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":900,"wires":[]},{"id":"2c4c9916.fd5586","type":"ui_text_input","z":"4414e09b.51185","name":"","label":"","tooltip":"","group":"d0586933.4fe098","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"10","topic":"","x":520,"y":1340,"wires":[["8555094d.90f2c8"]]},{"id":"8555094d.90f2c8","type":"mqtt out","z":"4414e09b.51185","name":"","topic":"/oled/test","qos":"","retain":"","broker":"e5d67373.42c13","x":850,"y":1340,"wires":[]},{"id":"d663420f.18c48","type":"mqtt in","z":"4414e09b.51185","name":"button","topic":"button","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":510,"y":1400,"wires":[["c269d35.791103","3e2e6b6c.681ad4"]]},{"id":"c269d35.791103","type":"ui_text","z":"4414e09b.51185","group":"1fba333b.e67c8d","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":1400,"wires":[]},{"id":"3e2e6b6c.681ad4","type":"debug","z":"4414e09b.51185","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":1440,"wires":[]},{"id":"ad7e603a.684b7","type":"inject","z":"4414e09b.51185","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1980,"wires":[["c27dce23.4e3c1"]]},{"id":"e8635d03.c67ea","type":"http request","z":"4414e09b.51185","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1700,"wires":[["c307d9e1.7743a8","bed2ca0d.d740e8"]]},{"id":"9dd56c05.e84f1","type":"ui_text","z":"4414e09b.51185","group":"345ed9bc.57a146","order":0,"width":0,"height":0,"name":"","label":"Confirmed","format":"{{msg.payload.Confirmed}}","layout":"row-spread","x":1070,"y":1860,"wires":[]},{"id":"dfbb0eb8.a6c9","type":"ui_button","z":"4414e09b.51185","name":"","group":"345ed9bc.57a146","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":1900,"wires":[["c27dce23.4e3c1"]]},{"id":"86a1544c.0ca098","type":"http in","z":"4414e09b.51185","name":"","url":"/co","method":"get","upload":false,"swaggerDoc":"","x":350,"y":1700,"wires":[["e8635d03.c67ea"]]},{"id":"bed2ca0d.d740e8","type":"tableify","z":"4414e09b.51185","name":"","before":"covid-19 thailand","after":"end","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":940,"y":1700,"wires":[["ba90fdcf.4faff"]]},{"id":"ba90fdcf.4faff","type":"http response","z":"4414e09b.51185","name":"","statusCode":"","headers":{},"x":1110,"y":1640,"wires":[]},{"id":"c307d9e1.7743a8","type":"debug","z":"4414e09b.51185","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":1780,"wires":[]},{"id":"c27dce23.4e3c1","type":"http request","z":"4414e09b.51185","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":1940,"wires":[["9dd56c05.e84f1","c417dde9.cfcb8","bbd44d46.885ec","f153be0e.62067","8c39d769.b7f8c8"]]},{"id":"c417dde9.cfcb8","type":"ui_text","z":"4414e09b.51185","group":"345ed9bc.57a146","order":0,"width":0,"height":0,"name":"","label":"Recovered","format":"{{msg.payload.Recovered}}","layout":"row-spread","x":1070,"y":1900,"wires":[]},{"id":"bbd44d46.885ec","type":"ui_text","z":"4414e09b.51185","group":"345ed9bc.57a146","order":0,"width":0,"height":0,"name":"","label":"Hospitalized","format":"{{msg.payload.Hospitalized}}","layout":"row-spread","x":1070,"y":1940,"wires":[]},{"id":"f153be0e.62067","type":"ui_text","z":"4414e09b.51185","group":"345ed9bc.57a146","order":0,"width":0,"height":0,"name":"","label":"Deaths","format":"{{msg.payload.Deaths}}","layout":"row-spread","x":1060,"y":1980,"wires":[]},{"id":"8c39d769.b7f8c8","type":"debug","z":"4414e09b.51185","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":2020,"wires":[]},{"id":"3b36668d.79857a","type":"http request","z":"4414e09b.51185","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://covid19.th-stat.com/api/open/today","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":2140,"wires":[["996acab7.c94df8","c0219c4f.c6d4b"]]},{"id":"f9ed910a.8ea01","type":"inject","z":"4414e09b.51185","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":2140,"wires":[["3b36668d.79857a"]]},{"id":"996acab7.c94df8","type":"debug","z":"4414e09b.51185","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":2080,"wires":[]},{"id":"7e885e3c.9fe36","type":"function","z":"4414e09b.51185","name":"token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer NFZSyKhxkgAOmoQtANO2zKi20n53uVP7xRKooUidUpj'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":2140,"wires":[["7d28a587.85487c"]]},{"id":"c0219c4f.c6d4b","type":"function","z":"4414e09b.51185","name":"message","func":"var message = \"\\nอับเดทล่าสุด: \"+msg.payload.UpdateDate+\"\\n\";\nmessage += \"ผู้ติดเชื้อสะสม: \"+msg.payload.Confirmed+\" ( \"+msg.payload.NewConfirmed+\" )\\n\";\nmessage += \"หายแล้ว: \"+msg.payload.Recovered+\" ( \"+msg.payload.NewRecovered+\" )\\n\";\nmessage += \"รักษาอยู่: \"+msg.payload.Hospitalized+\" ( \"+msg.payload.NewHospitalized+\" )\\n\";\nmessage += \"เสียชีวิต: \"+msg.payload.Deaths+\" ( \"+msg.payload.NewDeaths+\" )\\n\";\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":2140,"wires":[["7e885e3c.9fe36"]]},{"id":"7d28a587.85487c","type":"http request","z":"4414e09b.51185","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1080,"y":2140,"wires":[[]]},{"id":"f604071c.3a8fe8","type":"function","z":"4414e09b.51185","name":"message1","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer NFZSyKhxkgAOmoQtANO2zKi20n53uVP7xRKooUidUpj'\n};\nmsg.payload = {\n    \"message\":\"temp = \"+global.get(\"temp\")\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":2240,"wires":[["8c29b2d9.c9ddd","f72c1c0e.4ef47"]]},{"id":"44fae3ae.9545fc","type":"inject","z":"4414e09b.51185","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":2240,"wires":[["f604071c.3a8fe8"]]},{"id":"8c29b2d9.c9ddd","type":"debug","z":"4414e09b.51185","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":2220,"wires":[]},{"id":"f72c1c0e.4ef47","type":"http request","z":"4414e09b.51185","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":2280,"wires":[[]]},{"id":"137bf67c.8e323a","type":"http in","z":"4414e09b.51185","name":"","url":"/tem","method":"get","upload":false,"swaggerDoc":"","x":250,"y":2340,"wires":[["4bd91fae.cf187"]]},{"id":"4bd91fae.cf187","type":"function","z":"4414e09b.51185","name":"","func":"msg.payload={\"temperature \":global.get(\"temp\") , \"humidity \":global.get(\"hu\")};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":2340,"wires":[["555105b2.16108c"]]},{"id":"555105b2.16108c","type":"http response","z":"4414e09b.51185","name":"","statusCode":"","headers":{},"x":890,"y":2340,"wires":[]},{"id":"7ba8eb64.e98854","type":"ui_group","name":"LED","tab":"b7394afc.695aa8","order":4,"disp":true,"width":"6","collapse":false},{"id":"d0586933.4fe098","type":"ui_group","name":"start","tab":"b7394afc.695aa8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e5d67373.42c13","type":"mqtt-broker","name":"localhost","broker":"192.168.43.54","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21849001.8068e","type":"ui_group","name":"senser","tab":"b7394afc.695aa8","order":3,"disp":true,"width":"6","collapse":false},{"id":"1fba333b.e67c8d","type":"ui_group","name":"button","tab":"b7394afc.695aa8","order":4,"disp":true,"width":"6","collapse":false},{"id":"345ed9bc.57a146","type":"ui_group","name":"covid-19","tab":"b5e13ce2.b9cc7","order":1,"disp":true,"width":"6","collapse":false},{"id":"b7394afc.695aa8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b5e13ce2.b9cc7","type":"ui_tab","name":"covid-19","icon":"dashboard","disabled":false,"hidden":false}]