esp32_contorl_led_with_MQTT_and_Node-Red/flows.json
[{"id":"bf0109e9.c42f08","type":"tab","label":"LED(get,On/Off)","disabled":false,"info":""},{"id":"e8d272b.2e59e9","type":"ui_button","z":"bf0109e9.c42f08","name":"","group":"7ba8eb64.e98854","order":3,"width":0,"height":0,"passthru":false,"label":"on","tooltip":"","color":"","bgcolor":"BLUE","icon":"","payload":"on","payloadType":"str","topic":"/ESP/LED","x":250,"y":180,"wires":[["700bd6a9.c6be48"]]},{"id":"e2e69f92.1093d","type":"ui_button","z":"bf0109e9.c42f08","name":"","group":"7ba8eb64.e98854","order":4,"width":0,"height":0,"passthru":false,"label":"off","tooltip":"","color":"","bgcolor":"RED","icon":"","payload":"off","payloadType":"str","topic":"/ESP/LED","x":250,"y":280,"wires":[["700bd6a9.c6be48"]]},{"id":"c6763e54.756b8","type":"ui_button","z":"bf0109e9.c42f08","name":"","group":"d0586933.4fe098","order":1,"width":0,"height":0,"passthru":false,"label":"get","tooltip":"","color":"","bgcolor":"BLACK","icon":"","payload":"GET","payloadType":"str","topic":"/ESP/LED","x":250,"y":380,"wires":[["700bd6a9.c6be48"]]},{"id":"700bd6a9.c6be48","type":"mqtt out","z":"bf0109e9.c42f08","name":"LED","topic":"/ESP/LED","qos":"","retain":"","broker":"e5d67373.42c13","x":540,"y":280,"wires":[]},{"id":"320bab09.ba25f4","type":"mqtt in","z":"bf0109e9.c42f08","name":"LED","topic":"/ESP/LED","qos":"2","datatype":"auto","broker":"e5d67373.42c13","x":660,"y":200,"wires":[["ebfd7f54.0e4a7","a3e40af4.8180c8"]]},{"id":"ebfd7f54.0e4a7","type":"debug","z":"bf0109e9.c42f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":220,"wires":[]},{"id":"a3e40af4.8180c8","type":"ui_text","z":"bf0109e9.c42f08","group":"7ba8eb64.e98854","order":5,"width":0,"height":0,"name":"","label":"start","format":"{{msg.payload}}","layout":"col-center","x":1000,"y":360,"wires":[]},{"id":"7ba8eb64.e98854","type":"ui_group","name":"LED","tab":"b7394afc.695aa8","order":4,"disp":true,"width":"6","collapse":false},{"id":"d0586933.4fe098","type":"ui_group","name":"start","tab":"b7394afc.695aa8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e5d67373.42c13","type":"mqtt-broker","name":"localhost","broker":"192.168.43.54","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7394afc.695aa8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]